{%extends 'index.html'%}
{% load static%}
{%block content%}
  <div class="container">
    <div class="row py-5 px-4">
        <div class="col-md-10 mx-auto">
            <!-- Profile widget -->
                <div class="py-4 px-4">
                    <h5 class="mb-0 text-center">All post</h5> </div>
                    <ul class="list-inline mb-0">
                        <li class="list-item mb">
                            <h5 class=" mb-0 d-block">Name:{{register.name}}</h5>
                        </li>
                        <li class="list-item">
                            <h5 class=" mb-0 d-block">Total posts:{{post_count}}</h5>
                        </li>
                        <li class="list-item">
                            <h5 class=" mb-0 d-block">Posts:</h5>
                        </li>
                    </ul>
                    <div class="d-flex align-items-center justify-content-between mb-3">
                        <span id="disp">
                          
                          <div class="row">
                            {%if posts%}
                            {% for i in posts %}
                           <div class="col-md-6">
                               <div class="card mdb-color bg-secondary text-center z-depth-2 shadow" >
                                   <div class="card-body">
                                     <div class="card-header">{{i.username}}</div><div class="card-header">{{i.datetime}}</div>
                                     <div class="card-title">{{i.title}}</div>
                                     <div class="card-header">{{i.genre}}</div>
                                     <img src="/media/{{i.img}}" alt="" height="200px" width="100%" >
                                       <!-- <p class="white-text mb-0">{{i.description}}</p> -->
                                       {% if i.id in reacting.reacting1%}
                <a href="/like/{{i.id}}/4"class="btn btn-success"><i class="fa fa-thumbs-up" style="font-size:16px"></i>{{i.like}}</a>
                <a href="/dislike/{{i.id}}/4"class="btn btn-danger"><i class="fa fa-thumbs-o-down" style="font-size:16px"></i>{{i.dislike}}</a>
              {% elif i.id in reacting.reacting2 %}
              <a href="/like/{{i.id}}/4"class="btn btn-primary"><i class="fa fa-thumbs-o-up" style="font-size:16px"></i>{{i.like}}</a>
            <a href="/dislike/{{i.id}}/4"class="btn btn-info"><i class="fa fa-thumbs-up" style="font-size:16px"></i>{{i.dislike}}</a>
            {%else%}
            <a href="/like/{{i.id}}/4"class="btn btn-primary"><i class="fa fa-thumbs-o-up" style="font-size:16px"></i>{{i.like}}</a>
            <a href="/dislike/{{i.id}}/4"class="btn btn-danger"><i class="fa fa-thumbs-o-down" style="font-size:16px"></i>{{i.dislike}}</a>
                                     {%endif%}
                                     <form action="" method="post">
                                        {%csrf_token%}
                                        <input type="button" onclick="show('{{i.id}}','{{i.username}}')"id="show1{{i.id}}" value="Show Comments"class="btn btn-success">
                                      </form>
                                      <div id="mishi{{i.id}}">
                                        <div class="panel panel-info">
                                          <div class="panel-body" id="p{{i.id}}"style="display:none">
                                            <div class="panel-heading">
                                              Comment panel
                                          </div>
                                            <form action="" method="post">
                                              {%csrf_token%}
                                              <input class="form-control"id="kashish{{i.id}}" name="msg"rows="3"type="text"placeholder="write a comment...">
                                              <input class="btn btn-info pull-right"type="button" onclick="comment('{{i.id}}','{{request.session.email_id}}','{{i.username}}')" value="Post">
                                            </form>
                                              <div class="clearfix" id="mishra{{i.id}}"></div>
                                              <hr>
                                              <ul class="media-list" id="mediaa{{i.id}}">
                                                  <!-- <li class="media">
                                                      <a href="#" class=""mx-auto>
                                                          <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                      </a>
                                                      <div class="media-body">
                                                          <span class="text-muted pull-right">
                                                              <small class="text-muted">30 min ago</small>
                                                          </span>
                                                          <h5 class="text-success pull-left">@MartinoMont</h5>
                                                          <li class="list-item pull-left">
                                                              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                              Lorem ipsum dolor sit amet,
                                                          </li>
                                                      </div>
                                                  </li> -->
                                              </ul>
                                          </div>
                                          </div>
                                          </div>
                                          </div>
                                          </div>
                                          </div>
                                          
                           {%endfor%}
                           {%else%}
                           <h4 class="text-info">No Posts Yet</h4>
                           {%endif%}
                        </div>
                        </span>
                        </div>
                        </div>
                    </div>
                    <!-- <div class="row">
                        <div class="col-lg-6 mb-2 pr-lg-1"><img src="https://images.unsplash.com/photo-1469594292607-7bd90f8d3ba4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 mb-2 pl-lg-1"><img src="https://images.unsplash.com/photo-1493571716545-b559a19edd14?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pr-lg-1 mb-2"><img src="https://images.unsplash.com/photo-1453791052107-5c843da62d97?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                        <div class="col-lg-6 pl-lg-1"><img src="https://images.unsplash.com/photo-1475724017904-b712052c192a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="" class="img-fluid rounded shadow-sm"></div>
                    </div> -->
                </div>
            </div>
  {%endblock%}